html {
  font-size: 10px;
  background: url('https://i.ytimg.com/vi/QAm3BVVwACY/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCd5SUidPVttnKuSki4kXg8nJLR6w');
 background-position:bottom center;
 background-size: cover;
 background-repeat: no-repeat;
 height: 100vh; /* Гарантує, що фон займає всю висоту екрану */
    margin: 0; /* Видаляє можливі відступи */
    overflow: hidden;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: grid;
  grid-template-columns: repeat(6, 20%);
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  flex: 1;
  /* height: 100px; */
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
